html,body {
  height: 100%;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  overflow:auto;
  margin: 0px;
  font-size: 14px;
  overflow: hidden;
}
h1,h2,h3,h4,h5{
  margin: 0px;
}
ul,li{
  margin: 0px;
  padding: 4px;
  list-style: none;
}
span,i,b{
  display: inline-block;
  vertical-align: middle;
}
.letterspac2{
  letter-spacing:2px;
}
.clear{
  clear: both;
}
.mr20{
  margin:20px;
}
.mrl10{
  margin-left: 10px;
}
.mrl20{
  margin-left: 20px;
}
.mrl40{
  margin-left: 40px;
}
.mrl60{
  margin-left: 60px;
}
.mrl80{
  margin-left: 80px;
}
.mrl100{
  margin-left: 100px;
}
.mrr10{
  margin-right: 10px;
}
.mrr20{
  margin-right: 20px;
}
.mrb10{
  margin-bottom: 10px;
}
.mrt10{
  margin-top:10px;
}
.mr2{
  margin:2px;
}
.pd10{
  padding: 10px;
  box-sizing: border-box;
}
.pdtb10{
  padding: 10px 0;
}
.flr{
  float: right;
  margin-right: 10px;
}
.tc{
  text-align: center;
}
.tr{
  text-align: right;
}
.f16{
  font-size: 16px;
}
.f18{
  font-size: 18px;
}
.f22{
  font-size: 22px;
}
.f34{
  font-size: 34px;
}
.f100{
  font-size: 100px;
}
.dib{
  display: inline-block;
}
.pr{
  position: relative;
  height: 100%;
}
.pac{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.cptunder{
  cursor: pointer;
  text-decoration: underline;
}
.cp{
  cursor: pointer;
}
.cred{
  color: red;
}
.bddefault{
  border: 1px solid black;
}
.colorblack{
  color: black;
}
.titleStyle{
  padding: 10px 0;
  color: #e4e0e0;
  background: #2d8cf0;
}
<<<<<<< HEAD

=======
#mynetwork {
  width:100%;
  height:900px;
  border: 1px solid lightgray;
}
>>>>>>> ebba130d2720aeb903892ef896e575a4b7303f34

