<div class="part_container">
    <Row>
        <Col span="9">
            <img src="../images/left.png" alt="vue" class="lrimg">
            <img src="../images/bgcircle.png" alt="bg" class="bgcircle leftbg">
        </Col>
        <Col span="6">
           <div class="f100 tc box">
               <span>Part {{num}}</span>
               <span>{{title}}</span>
               <!-- <img src="../images/bgcircle.png" alt="bg" class="bgcircle centerbg"> -->
           </div>
        </Col>
        <Col span="9">
            <img src="../images/right.png" alt="vue" class="lrimg">
            <img src="../images/bgcircle.png" alt="bg" class="bgcircle rightbg">
        </Col>
    </Row>
</div>